.example-box {
    position: relative;
    padding: 45px 15px 15px;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid #e0e0e0;
}

.example {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vertical-align-bottom.u-button{
	vertical-align: bottom;
}