
@import "../variables";
@import "../mixins";

.u-navmenu {
  display: flex;
  display: block \9;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  padding-top: 16px;
  padding-left: 0;

  & ul {
    padding-left: 0;
  }

  & .u-navmenu-sub {
    transition: max-height .5s cubic-bezier(0.35,0,0.25,1);
    webkit-transition: max-height .5s cubic-bezier(0.35,0,0.25,1);
    max-height: 0;
    overflow: hidden;
    & .u-navmenu-link {
      padding-left: 69px;
    }

		& .u-navmenu-sub {
			& .u-navmenu-link {
			  padding-left: 96px;
			}
		}
  }

  & .u-navmenu-link {
    display: block;
    flex-shrink: 0;
    padding: 16px $layout-header-desktop-indent;
    margin: 0;
    color: $layout-drawer-navigation-color;

    text-decoration: none;
    font-weight: 500;
    font-size: $layout-nav-link-font-size;

    @media screen and (max-width: $layout-screen-size-threshold) {
      padding: 16px $layout-header-mobile-indent;
    }

    &:hover {
      background-color: $layout-nav-color;
    }

    &-current {
        background-color: $layout-drawer-navigation-link-active-background;
        color: $layout-drawer-navigation-link-active-color;
        font-weight: bold;  
    }

    & .fa-caret-down {
      webkit-transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      vertical-align: middle;
    }

    &-open {
      & .fa-caret-down {
        transform: rotate(180deg);
      }
      & + .u-navmenu-sub {
        max-height: 999px;
      }
    }

  }
}



  