@import "../ui/colors";

//主要颜色,次要颜色值与ui中保持一致
@import "../ui/themeColors";

//blog nav
$blognav-active-color:unquote("rgb(#{$color-primary})");


// widget

$widget-padding-left:30px;
$widget-padding-top:10px;
