@import "../core/minxin-variables";
@import "../core/minxin-mixins";

// The container for the whole component.
.u-text {
  position: relative;

  font-size: $input-text-font-size;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  //padding: $input-text-vertical-spacing 0;

  // Align buttons, if used.
  & .u-button {
    position: absolute;
    bottom: $input-text-vertical-spacing;
  }
}

// Optional class to align right.
.u-text-align-right {
  text-align: right;
}

// Optional class to display at full width.
.u-text-full-width {
  width: 100%;
}

// Optional class to make the text field expandable.
.u-text-expandable {
  min-width: $input-text-button-size;
  width: auto;
  min-height: $input-text-button-size;
}

// Styling for the input element.
.u-input {
  border: none;
  border-bottom: 1px solid $input-text-bottom-border-color;
  border-bottom: 1px solid $input-text-bottom-border-color-IE8 \9;
  display: block;
  font-size: $input-text-font-size;
  margin: 0;
  //padding: $input-text-padding 0;
  width: $input-text-width;
  background: none;
  text-align: left;
  color: inherit;

  .u-text.is-focused & {
    outline: none;
  }

  .u-text.is-invalid & {
    border-color: $input-text-error-color;
    box-shadow: none;
  }

  fieldset[disabled] .u-text &,
  .u-text.is-disabled & {
    background-color: transparent;
    border-bottom: 1px dotted $input-text-disabled-color;
    color: $input-text-disabled-text-color;
  }
}

.u-text textarea.u-input {
  display: block;
}

// Styling for the label / floating label.
.u-label {
  bottom: 0;
  margin-bottom: 0 !important;
  color: $input-text-label-color;
  font-size: $input-text-font-size;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: ($input-text-padding + $input-text-vertical-spacing);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;

  .u-text.is-dirty & {
    visibility: hidden;
  }

  // Floating Label
  .u-label-floating & {
    @include material-animation-default();
  }

  fieldset[disabled] .u-text &,
  .u-text.is-disabled.is-disabled & {
    color: $input-text-disabled-text-color;
  }

  .u-label-floating.is-focused &,
  .u-label-floating.is-dirty &,
  .u-label-floating-always.is-focused & {
    color: $input-text-highlight-color;
    font-size : $input-text-floating-label-fontsize;
    top: $input-text-vertical-spacing - ($input-text-floating-label-fontsize + $input-text-padding);
    visibility: visible;
  }

  .u-label-floating.is-focused .expandable-holder &,
  .u-label-floating.is-dirty .expandable-holder &{
    top: -($input-text-floating-label-fontsize + $input-text-padding);
  }

  .u-label-floating.is-invalid & {
    color: $input-text-error-color;
    font-size: $input-text-floating-label-fontsize;
  }

  .u-label-floating-always.u-label-floating-always & {
    font-size : $input-text-floating-label-fontsize;
    top: $input-text-vertical-spacing - ($input-text-floating-label-fontsize + $input-text-padding);
    visibility: visible;
  }

  // The after label is the colored underline for the TextField.
  &:after {
    background-color: $input-text-highlight-color;
    bottom: $input-text-vertical-spacing;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    @include material-animation-default();
    visibility: hidden;
    width: 10px;
  }

  .u-text.is-focused &:after {
    left: 0;
    visibility: visible;
    width: 100%;
  }

  .u-text.is-invalid &:after {
    background-color: $input-text-error-color;
  }
}

// TextField Error.
.u-error {
  color: $input-text-error-color;
  position: absolute;
  font-size: $input-text-floating-label-fontsize;
  margin-top: 3px;
  visibility: hidden;
  display: block;

  .u-text.is-invalid & {
    visibility: visible;
  }
}

// Expandable Holder.
.u-text-expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: $input-text-button-size;

  @include material-animation-default();
  display: inline-block;

  // Safari (possibly others) need to be convinced that this field is actually
  // visible, otherwise it cannot be tabbed to nor focused via a <label>.
  // TODO: In some cases (Retina displays), this is big enough to render the
  // inner element :(
  max-width: 0.1px;

  .u-text.is-focused &, .u-text.is-dirty &{
    // This is an unfortunate hack. Animating between widths in percent (%)
    // in many browsers (Chrome, Firefox) only animates the inner visual style
    // of the input - the outer bounding box still 'jumps'.
    // Thus assume a sensible maximum, and animate to/from that value.
    max-width: 600px;
  }
  .u-label:after {
    bottom: 0;
  }
}

.u-text-feedback{
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 0;
  z-index: 2;
  display: block;
  text-align: center;
  cursor: pointer;
}
.u-text-feedback{
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 0;
  z-index: 2;
  display: block;
  text-align: center;
  cursor: pointer;
}

.u-input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}
.u-input-group .u-input-group-addon{
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    color: #555111;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    line-height: 1;
}
.u-input-group .u-form-control {

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    z-index: 2;
    float: left;
    margin-bottom: 0;
    /*margin-left: -1px;*/
}
.u-input-group.u-input-group-lg .u-input-group-addon{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    box-sizing: border-box;
}
.u-input-group.u-input-group-lg .u-form-control{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.u-input-group.u-input-group-sm .u-input-group-addon{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px !important;
    line-height: 1.5;
    border-radius: 3px;
    box-sizing: border-box;
}
.u-input-group.u-input-group-sm .u-form-control{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px !important;
    line-height: 1.5;
    border-top-right-radius: 3px;
    border-radius: 3px;
}
.u-input-group .u-input-group-addon:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: transparent;
}
.u-input-group .u-input-group-addon:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: transparent;
}
.u-input-group .u-form-control:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.u-input-group .u-form-control:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.u-input-group .u-form-control:not(:first-child):not(:last-child), .u-input-group-addon:not(:first-child):not(:last-child), .u-input-group-btn:not(:first-child):not(:last-child){
     border-radius: 0;
}
.u-input-group .u-form-control + .u-input-group-addon{
    margin-left: -1px;
}
.u-input-group .u-input-group-addon .u-checkbox{
    // height: 23px;
    padding-left: 16px;
    height:14px;
}
.u-input-group .u-input-group-addon .u-radio{
    // height: 34px;
    height:14px;
    padding-left: 16px;
    vertical-align: middle;
}
.u-input-group .u-input-group-btn{
  vertical-align: middle;
  border: 1px solid #ccc;

}
.u-input-group .u-input-group-btn:first-child{
    border-right-color: transparent;
}
.u-input-group .u-input-group-btn:last-child{
    border-left-color: transparent;
}
.u-input-group .u-input-group-btn .u-menu-default li:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.u-input-group .u-input-group-btn .u-menu-default li:hover a{
    color: #262626;
}
