
@import "../core/minxin-variables";
@import "../core/minxin-mixins";

.u-avatar {
    position: relative;
}
.u-avatar i {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
    
}

.u-avatar-online i {
    background-color: #4caf50;
}

.u-avatar-off i {
    background-color: #616161;
}

.u-avatar-busy i {
    background-color: #ff9800;
}

.u-avatar-away i {
    background-color: #f44336;
}

.u-avatar img {
    width:100%;
    height: 100%;
}