@import "../core/minxin-variables";
@import "../core/minxin-mixins";
.u-navmenu {
  display: flex;
  display: block \9;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  padding-top: 16px;
  padding-left: 0;

  & ul {
    padding-left: 0;
  }

  & .u-navmenu-sub {
    transition: max-height .5s cubic-bezier(0.35,0,0.25,1);
    webkit-transition: max-height .5s cubic-bezier(0.35,0,0.25,1);
    max-height: 0;
    overflow: hidden;
    & .u-navmenu-link {
      padding-left: 69px;
    }

		& .u-navmenu-sub {
			& .u-navmenu-link {
			  padding-left: 96px;
			}
		}
  }

  & .u-navmenu-link {
    display: block;
    flex-shrink: 0;
    padding: 11px 30px;
    margin: 0;
    color: $layout-drawer-navigation-color;

    text-decoration: none;
    font-weight: 500;
    font-size: $layout-nav-link-font-size;

    @media screen and (max-width: $layout-screen-size-threshold) {
      padding: 16px $layout-header-mobile-indent;
    }

    &:hover {
      background-color: $layout-nav-color;
    }

    &-current {
        background-color: $layout-drawer-navigation-link-active-background;
        color: $layout-drawer-navigation-link-active-color;
        font-weight: bold;
    }

    & .uf-caretdown {
      webkit-transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      vertical-align: middle;
    }

    &-open {
      & .uf-caretdown {
        transform: rotate(180deg);
      }
      & + .u-navmenu-sub {
        max-height: 999px;
      }
    }

  }
}

.u-navmenu-horizontal {
  & li:hover .u-navmenu-sub {
     max-height: 999px;
  }

  & > ul > li{
    display: inline-block;
    position: relative;
  }

  & .u-navmenu-sub {
    position: absolute;
    top: 54px;
    left: 0;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
  }

  & .u-navmenu-sub .u-navmenu-link {
    padding-left: 40px;
  }

  &.u-navmenu-horizontal .u-navmenu-link-open + .u-navmenu-sub{
    max-height: 0;
  }

}

.u-navlayout-toolbar li{
    list-style: none;
}
#toggleMenubar #menubutton{
    line-height: 35px;
    font-size: 15px;
    color: #fff;
    left: 0;
    position: relative;
    height: 0;
}
.u-navlayout-header .u-navlayout-toolbar{
    list-style: none;
}
.u-navlayout-header .u-navlayout-toolbar li{
    float: left;
}
.u-navlayout-header .u-navlayout-toolbar li a{
    color: #fff;
    text-decoration: none;
}
.u-navlayout-header .u-navlayout-toolbar li .u-topic{
    font-size:20px;
}
.u-navlayout-header .u-navlayout-toolbar #toggleMenubar{
    line-height: 32px;
    width: 14px;
    margin-right: 20px;
}
.u-frame-navlayout{
    background: #eceff1;
}

.u-navlayout-header{
    box-shadow:none;
    background: #4397e6;
    border: none;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    border-radius: 2px;
}
.u-navlayout-fixed-drawer.is-upgraded:not(.is-small-screen)>.u-navlayout-header{
    margin: 0;
    width:100%;
}
.menuAnimal{
     transition:All 0.4s ease-in-out;
     -webkit-transition:All 0.4s ease-in-out;
     -moz-transition:All 0.4s ease-in-out;
     -o-transition:All 0.4s ease-in-out;
}


.showAnimal:hover {
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
 }
.hideAnimal:hover {
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
 }
 .u-navlayout-header .u-navlayout-toolbar li a {
    color: #fff;
    text-decoration: none;
}
.hide{
    display: none;
}
.u-navlayout-header-row{
    padding-left: 0;
}
/*.u-navlayout-drawer{
    left: 21px;
}*/
.margin-right-20{
    margin-right: 20px;
}
.dropdown-button{
    background: none;
    border: none;
    color: #fff;
    outline: none;
    font-size: 14px;
    height: 50px;
}
.avatar.avatar-online{
    width: 30px;
}
.avatar-online i {
    background-color: #46be8a;
    height: 6px;
    width: 6px;
}
.dropinfo{
    line-height: 60px;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}
.dropinfo:hover{
    background: #5898D3;
}
.dropinfo .uf{
    font-size: 12px;
}
.u-badge[data-badge]:after{
    min-width: 8px;
}
.margin-top-5{
    margin-top: 5px;
}
.padding-none{
    padding-left: 0;
    padding-right: 0;
}
.u-menu-container.is-visible .u-menu-item{
    // border-radius: 4px;
    color: #7C7171;
  /*  width: 100%;*/
}
.inverse .u-navlayout-header{
    background: #fff
}
.inverse .u-navlayout-header .u-navlayout-toolbar li a{
    color: #000;
}
.inverse .dropdown-button{
    color: rgba(0,0,0, 0.54);
    height: 65px;
}
.inverse .u-navlayout-header{
    color: #000;
}
.bluebg{
    background: #F3F7F9;
}
.active{
    background: #F3F7F9;
}
.navbar-brand{
    float: left;
    padding: 22px 20px;
    font-size: 18px;
    line-height: 22px;
    width: 20px;
}
.navbar-brand:hover{
    background: #4397E6;
    color: #fff;
}
.icon.u-topic.navbar-brand{
    padding-right: 46px;
    margin-top: -10px;
}
