

.u-overlay{
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  // height: 125%;//当body过高时会有bug不设置默认按body的高度
  width: 100%;
  background: #000;
  will-change: opacity;
  filter: alpha(opacity=0.5);
  opacity: 0.5;
  filter: alpha(opacity=50) \9;
  display: block;
  transition: all 300ms;
}
.u-msg-dialog-top{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    text-align: center;
    overflow: auto;
}

.u-msg-dialog-top:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.u-msg-dialog{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #FFFFFF;
    width: 55%;
    padding: 0;
    border-radius: 2px;
    will-change: top, opacity;
    filter: alpha(opacity=1);
    opacity: 1;
    filter: alpha(opacity=100) \9;
    transform: scaleX(1);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    @media only screen and (max-width : 992px){
        width:80%;
    }
    .u-msg-title{
        padding-left: 20px;
        padding-top: 24px;
        padding-right: 52px;
    }
    h4{
        text-shadow: rgba(0,0,0,.15) 0 0 1px;
        margin: 0;
        line-height: 1.57142857;
        font-weight: 400;
        color: #424242;
        font-size:18px;
    }
    .u-msg-content{
        padding: 20px;
        padding-bottom: 76px;
        overflow: auto;
        width: 100%;
        box-sizing:border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-size: 14px;
        line-height: 1.57142857;
        color: #757575;
        font-weight:300;
        height: calc(100% - 121px);
    }

    .u-msg-content h4{
        margin: 0;
    }
    .u-msg-footer{
        position:absolute;
        bottom:0px;
        border-radius: 0 0 2px 2px;
        padding: 4px 20px;
        height: 56px;
        width: 100%;
        box-sizing:border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

// 只有一个按钮时，样式居中
  .u-msg-footer.only-one-btn  button{
    margin-left: 50%;
    float: none;
    transform: translateX(-50%);
  }

  .u-msg-button , .u-msg-ok , .u-msg-cancel, .u-msg-close{
    float: right;
  }

  .u-msg-cancel{
    margin-right:10px;
  }
  .u-msg-ok{
    margin-right:15px;
  }
  .u-msg-close{
      cursor: pointer;
    font-size: 21px;
    padding:15px 20px;
    padding-bottom:0px;

      filter:alpha(opacity=20);
     -moz-opacity:0.2;
     -khtml-opacity:0.2;
     opacity: .2;

     filter:alpha(opacity=100) /9;
     background: #fff;
     color: #000;


  }

  .u-msg-close:hover{
    opacity: .5;
  }

  &.u-iframe-dialog {
    max-height: inherit;
    .u-msg-content {
      padding: 0px;
      overflow: hidden;
    }
  }
}
