
@import "../core/minxin-variables";
@import "../core/minxin-mixins";

//博客导航

.blog-nav{
  list-style: none;
  margin: 0;
  padding:0;
  & > li{
    float: left;
    text-align: center;
    cursor: pointer;
    height: 100%;
    display: inline-block;
    &.active{
      color:#{$blognav-active-color};
      border-bottom: 1px solid #{$blognav-active-color};
    }
    &:hover{
      border-bottom: 1px solid #{$blognav-active-color};
    }
    & > a{
      padding: 0 22px;
      text-decoration: initial;
    }
  }
}

