//
// Breadcrumbs
// --------------------------------------------------

//minxin-variables
//公共
@import "../core/minxin-variables";
@import "../core/minxin-mixins";

.u-breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $breadcrumb-margin-bottom;
  list-style: none;
  background-color: $breadcrumb-bg;
  border-radius: $border-radius-base;
  font-size: 14px;
  > li {
    display: inline-block;

    + li:before {
      content: $breadcrumb-separator;
      padding: 0 5px;
      color: $breadcrumb-color;
    }
     .icon {
      text-decoration: none;
      &:before {
        margin-right: $breadcrumb-icon-margin-right;
      }
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}


// 箭头图标面包屑
.u-breadcrumb-arrow {
  > li + li:before {
    content: $breadcrumb-arrow-separator;
  }
}
