.u-menu-item-head {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.57142857;
  color: #424242;
  white-space: nowrap;
}

.u-menu > {
  .u-menu-item-head {
    padding: 8px 13px 6px;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: default;
  }
  .u-menu-item-break {
    margin: 6px 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  .disabled {
    background-color: transparent;
    text-decoration: none;
    cursor: not-allowed;
    color: #bdbdbd;
    &:hover {
      background-color: transparent;
      text-decoration: none;
      cursor: not-allowed;
      color: #bdbdbd;
    }
    > a:hover {
      text-decoration: none;
      cursor: not-allowed;
      background-color: transparent;
      background-image: none;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      color: #bdbdbd;
    }
  }
}

.u-menu-info > .active {
  > a {
    color: #fff;
  }
  background: #00bcd4;
}

.u-menu-success > .active {
  background: #66bb6a;
  background: #66bb6a;
}

.u-menu-danger > .active {
  background: #ef5350;
}

.u-menu-warning > .active {
  background: #ffa726;
}

.u-btn-group > {
  .u-button-left {
    font-size: 13px;
  }
  .u-button-right {
    position: relative;
    > i {
      position: absolute;
      left: 3px;
      top: 10px;
    }
  }
}