.u-ribbon {
    position: relative;
    padding: 50px 15px 15px 50px;
    background-color: #f3f7fa;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}
.u-ribbon.bottom{
    padding: 15px 15px 50px 50px;
}
.u-ribbon-belt {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: transparent;
}
.u-ribbon-inner {
  position: absolute;
  top: 16px;
  left: 0;
  display: inline-block;
  height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 30px;
  color: #fff;
  white-space: nowrap;
  background-color: #526069;
  .icon {
    font-size: 16px;
  }
}

.u-ribbon-lg .u-ribbon-inner {
  height: 38px;
  font-size: 18px;
  line-height: 38px;
}

.u-ribbon-sm .u-ribbon-inner {
  height: 26px;
  font-size: 12px;
  line-height: 26px;
}

.u-ribbon-xs .u-ribbon-inner {
  height: 22px;
  font-size: 12px;
  line-height: 22px;
}

.u-ribbon-vertical {
  .u-ribbon-inner {
    top: 0;
    left: 16px;
    width: 30px;
    height: 60px;
    padding: 15px 0;
  }
  &.u-ribbon-xs .u-ribbon-inner {
    width: 22px;
    height: 50px;
  }
  &.u-ribbon-sm .u-ribbon-inner {
    width: 26px;
    height: 55px;
  }
  &.u-ribbon-lg .u-ribbon-inner {
    width: 38px;
    height: 70px;
  }
}

.u-ribbon-reverse {
  right: -3px;
  left: auto;
  .u-ribbon-inner {
    right: 0;
    left: auto;
  }
  &.u-ribbon-vertical .u-ribbon-inner {
    right: 16px;
  }
}

.u-ribbon-bookmark {
  .u-ribbon-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
    &:before {
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
      width: 0;
      height: 0;
      content: '';
      border: 15px solid #526069;
      border-right: 10px solid transparent;
    }
  }
  &.u-ribbon-vertical {
    .u-ribbon-inner:before {
      top: 100%;
      left: 0;
      margin-top: -15px;
      border-right: 15px solid #526069;
      border-bottom: 10px solid transparent;
    }
    &.u-ribbon-xs .u-ribbon-inner:before {
      margin-top: -11px;
    }
    &.u-ribbon-sm .u-ribbon-inner:before {
      margin-top: -13px;
    }
    &.u-ribbon-lg .u-ribbon-inner:before {
      margin-top: -19px;
    }
  }
  &.u-ribbon-reverse {
    .u-ribbon-inner:before {
      right: 100%;
      left: auto;
      border-right: 15px solid #526069;
      border-left: 10px solid transparent;
    }
    &.u-ribbon-vertical .u-ribbon-inner:before {
      right: auto;
      left: 0;
      border-right-color: #526069;
      border-bottom-color: transparent;
      border-left: 15px solid #526069;
    }
  }
  &.u-ribbon-xs .u-ribbon-inner:before {
    border-width: 11px;
  }
  &.u-ribbon-sm .u-ribbon-inner:before {
    border-width: 13px;
  }
  &.u-ribbon-lg .u-ribbon-inner:before {
    border-width: 19px;
  }
}

.u-ribbon-badge {
  top: -2px;
  left: -2px;
  overflow: hidden;
  .u-ribbon-inner {
    left: -40px;
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

}
.u-ribbon-badge.u-ribbon-reverse {
    right: -2px;
    left: auto;
    .u-ribbon-inner {
      right: -40px;
      left: auto;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
}
.u-ribbon-badge.u-ribbon-bottom {
    top: auto;
    bottom: -2px;
    .u-ribbon-inner {
      top: auto;
      bottom: 16px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &.u-ribbon-reverse .u-ribbon-inner {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
}
.u-ribbon-corner {
  top: 0;
  left: 0;
  overflow: hidden;
  .u-ribbon-inner {
    top: 0;
    left: 0;
    width: 40px;
    height: 35px;
    padding: 0;
    line-height: 35px;
    background-color: transparent;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      content: '';
      border: 30px solid transparent;
      border-top-color: #526069;
      border-left-color: #526069;
    }
  }
  &.u-ribbon-reverse {
    right: 0;
    left: auto;
    .u-ribbon-inner {
      right: 0;
      left: auto;
      &:before {
        right: 0;
        left: auto;
        border-right-color: #526069;
        border-left-color: transparent;
      }
    }
  }
  &.u-ribbon-bottom {
    top: auto;
    bottom: 0;
    .u-ribbon-inner {
      top: auto;
      bottom: 0;
      &:before {
        top: auto;
        bottom: 0;
        border-top-color: transparent;
        border-bottom-color: #526069;
      }
    }
  }
  &.u-ribbon-xs .u-ribbon-inner {
    width: 28px;
    height: 26px;
    line-height: 26px;
    &:before {
      border-width: 22px;
    }
    > .icon {
      font-size: 12px;
    }
  }
  &.u-ribbon-sm .u-ribbon-inner {
    width: 34px;
    height: 32px;
    line-height: 32px;
    &:before {
      border-width: 26px;
    }
    > .icon {
      font-size: 12px;
    }
  }
  &.u-ribbon-lg .u-ribbon-inner {
    width: 46px;
    height: 44px;
    line-height: 44px;
    &:before {
      border-width: 36px;
    }
    > .icon {
      font-size: 18px;
    }
  }
}

.u-ribbon-clip {
  left: -14px;
  .u-ribbon-inner {
    padding-left: 23px;
    border-radius: 0 5px 5px 0;
    &:after {
      position: absolute;
      bottom: -14px;
      left: 0;
      width: 0;
      height: 0;
      content: '';
      border: 7px solid transparent;
      border-top-color: #37474f;
      border-right-color: #37474f;
    }
  }
  &.u-ribbon-reverse {
    right: -14px;
    left: auto;
    .u-ribbon-inner {
      padding-right: 23px;
      padding-left: 15px;
      border-radius: 5px 0 0 5px;
      &:after {
        right: 0;
        left: auto;
        border-right-color: transparent;
        border-left-color: #37474f;
      }
    }
  }
  &.u-ribbon-bottom {
    top: auto;
    bottom: -3px;
    .u-ribbon-inner {
      top: auto;
      bottom: 16px;
      &:after {
        top: -14px;
        bottom: auto;
        border-top-color: transparent;
        border-bottom-color: #37474f;
      }
    }
  }
}

.u-ribbon-primary {
  .u-ribbon-inner {
    background-color: rgb(63, 81, 181);
  }
  &.u-ribbon-bookmark {
    .u-ribbon-inner:before {
      border-color: rgb(63, 81, 181);
      border-right-color: transparent;
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: rgb(63, 81, 181);
      border-left-color: transparent;
    }
    &.u-ribbon-vertical {
      .u-ribbon-inner:before {
        border-right-color: rgb(63, 81, 181);
        border-bottom-color: transparent;
      }
      &.u-ribbon-reverse .u-ribbon-inner:before {
        border-right-color: rgb(63, 81, 181);
        border-bottom-color: transparent;
        border-left-color: rgb(63, 81, 181);
      }
    }
  }
  &.u-ribbon-corner {
    .u-ribbon-inner {
      background-color: transparent;
      &:before {
        border-top-color: rgb(63, 81, 181);
        border-left-color: rgb(63, 81, 181);
      }
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: rgb(63, 81, 181);
      border-left-color: transparent;
    }
    &.u-ribbon-bottom .u-ribbon-inner:before {
      border-top-color: transparent;
      border-bottom-color: rgb(63, 81, 181);
    }
  }
  .u-ribbon-inner:after {
    border-top-color: rgb(63, 81, 181);
    border-right-color: rgb(63, 81, 181);
  }
  &.u-ribbon-reverse .u-ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: rgb(63, 81, 181);
  }
  &.u-ribbon-bottom .u-ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: rgb(63, 81, 181);
  }
}

.u-ribbon-success {
  .u-ribbon-inner {
    background-color: #46be8a;
  }
  &.u-ribbon-bookmark {
    .u-ribbon-inner:before {
      border-color: #46be8a;
      border-right-color: transparent;
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: #46be8a;
      border-left-color: transparent;
    }
    &.u-ribbon-vertical {
      .u-ribbon-inner:before {
        border-right-color: #46be8a;
        border-bottom-color: transparent;
      }
      &.u-ribbon-reverse .u-ribbon-inner:before {
        border-right-color: #46be8a;
        border-bottom-color: transparent;
        border-left-color: #46be8a;
      }
    }
  }
  &.u-ribbon-corner {
    .u-ribbon-inner {
      background-color: transparent;
      &:before {
        border-top-color: #46be8a;
        border-left-color: #46be8a;
      }
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: #46be8a;
      border-left-color: transparent;
    }
    &.u-ribbon-bottom .u-ribbon-inner:before {
      border-top-color: transparent;
      border-bottom-color: #46be8a;
    }
  }
  .u-ribbon-inner:after {
    border-top-color: rgb(102, 187, 106);
    border-right-color: rgb(102, 187, 106);
  }
  &.u-ribbon-reverse .u-ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: rgb(102, 187, 106);
  }
  &.u-ribbon-bottom .u-ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: rgb(102, 187, 106);
  }
}

.u-ribbon-info {
  .u-ribbon-inner {
    background-color: #57c7d4;
  }
  &.u-ribbon-bookmark {
    .u-ribbon-inner:before {
      border-color: #57c7d4;
      border-right-color: transparent;
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: #57c7d4;
      border-left-color: transparent;
    }
    &.u-ribbon-vertical {
      .u-ribbon-inner:before {
        border-right-color: #57c7d4;
        border-bottom-color: transparent;
      }
      &.u-ribbon-reverse .u-ribbon-inner:before {
        border-right-color: #57c7d4;
        border-bottom-color: transparent;
        border-left-color: #57c7d4;
      }
    }
  }
  &.u-ribbon-corner {
    .u-ribbon-inner {
      background-color: transparent;
      &:before {
        border-top-color: #57c7d4;
        border-left-color: #57c7d4;
      }
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: #57c7d4;
      border-left-color: transparent;
    }
    &.u-ribbon-bottom .u-ribbon-inner:before {
      border-top-color: transparent;
      border-bottom-color: #57c7d4;
    }
  }
  .u-ribbon-inner:after {
    border-top-color: rgb(0, 188, 212);
    border-right-color: rgb(0, 188, 212);
  }
  &.u-ribbon-reverse .u-ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: rgb(0, 188, 212);
  }
  &.u-ribbon-bottom .u-ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: rgb(0, 188, 212);
  }
}

.u-ribbon-warning {
  .u-ribbon-inner {
    background-color: rgb(255, 167, 38);
  }
  &.u-ribbon-bookmark {
    .u-ribbon-inner:before {
      border-color: rgb(255, 167, 38);
      border-right-color: transparent;
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: rgb(255, 167, 38);
      border-left-color: transparent;
    }
    &.u-ribbon-vertical {
      .u-ribbon-inner:before {
        border-right-color: rgb(255, 167, 38);
        border-bottom-color: transparent;
      }
      &.u-ribbon-reverse .u-ribbon-inner:before {
        border-right-color: rgb(255, 167, 38);
        border-bottom-color: transparent;
        border-left-color: rgb(255, 167, 38);
      }
    }
  }
  &.u-ribbon-corner {
    .u-ribbon-inner {
      background-color: transparent;
      &:before {
        border-top-color: rgb(255, 167, 38);
        border-left-color: rgb(255, 167, 38);
      }
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: rgb(255, 167, 38);
      border-left-color: transparent;
    }
    &.u-ribbon-bottom .u-ribbon-inner:before {
      border-top-color: transparent;
      border-bottom-color: rgb(255, 167, 38);
    }
  }
  .u-ribbon-inner:after {
    border-top-color: rgb(255, 167, 38);
    border-right-color: rgb(255, 167, 38);
  }
  &.u-ribbon-reverse .u-ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: rgb(255, 167, 38);
  }
  &.u-ribbon-bottom .u-ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: rgb(255, 167, 38);
  }
}

.u-ribbon-danger {
  .u-ribbon-inner {
    background-color: #f96868;
  }
  &.u-ribbon-bookmark {
    .u-ribbon-inner:before {
      border-color: #f96868;
      border-right-color: transparent;
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: #f96868;
      border-left-color: transparent;
    }
    &.u-ribbon-vertical {
      .u-ribbon-inner:before {
        border-right-color: #f96868;
        border-bottom-color: transparent;
      }
      &.u-ribbon-reverse .u-ribbon-inner:before {
        border-right-color: #f96868;
        border-bottom-color: transparent;
        border-left-color: #f96868;
      }
    }
  }
  &.u-ribbon-corner {
    .u-ribbon-inner {
      background-color: transparent;
      &:before {
        border-top-color: #f96868;
        border-left-color: #f96868;
      }
    }
    &.u-ribbon-reverse .u-ribbon-inner:before {
      border-right-color: #f96868;
      border-left-color: transparent;
    }
    &.u-ribbon-bottom .u-ribbon-inner:before {
      border-top-color: transparent;
      border-bottom-color: #f96868;
    }
  }
  .u-ribbon-inner:after {
    border-top-color: rgb(239, 83, 80);
    border-right-color: rgb(239, 83, 80);
  }
  &.u-ribbon-reverse .u-ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: rgb(239, 83, 80);
  }
  &.u-ribbon-bottom .u-ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: rgb(239, 83, 80);
  }
}
