<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Title</title>
<link rel="stylesheet" href="//design.yonyoucloud.com/static/uploader/css/webuploader.css">
<link rel="stylesheet" href="//design.yonyoucloud.com/static/uui/latest/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="//design.yonyoucloud.com/static/uui/latest/css/u.css">
<link rel="stylesheet" type="text/css" href="//design.yonyoucloud.com/static/uui/latest/css/tree.css">
<link rel="stylesheet" type="text/css" href="//design.yonyoucloud.com/static/uui/latest/css/grid.css">
<style id="demo-style" media="screen">
</style>
</head>
<body style="background-color: #eceff1;margin-left: 20px;width: calc(100% - 20px );">
<ul class="ui-gallery ui-gallery-imgbordered">
      <li class="u-col-md-3">
        <div class="ui-gallery-item">
            <a href="http://design.yonyoucloud.com/static/img/bing-1.jpg" class="">
              	<img src="http://design.yonyoucloud.com/static/img/bing-1.jpg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                <h3 class="ui-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                <div class="ui-gallery-desc">2375-09-26</div>
            </a>
        </div>
      </li>
      <li class="u-col-md-3">
        <div class="ui-gallery-item">
            <a href="http://design.yonyoucloud.com/static/img/bing-1.jpg" class="">
              <img src="http://design.yonyoucloud.com/static/img/bing-1.jpg"  alt="某天 也许会相遇 相遇在这个好地方"/>
                <h3 class="ui-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
                <div class="ui-gallery-desc">2375-09-26</div>
            </a>
        </div>
      </li>
      <li class="u-col-md-3">
        <div class="ui-gallery-item">
            <a href="http://design.yonyoucloud.com/static/img/bing-1.jpg" class="">
              <img src="http://design.yonyoucloud.com/static/img/bing-1.jpg"  alt="不要太担心 只因为我相信"/>
                <h3 class="ui-gallery-title">不要太担心 只因为我相信</h3>
                <div class="ui-gallery-desc">2375-09-26</div>
            </a>
        </div>
      </li>
      <li class="u-col-md-3">
        <div class="ui-gallery-item">
            <a href="http://design.yonyoucloud.com/static/img/bing-1.jpg" class="">
              <img src="http://design.yonyoucloud.com/static/img/bing-1.jpg"  alt="终会走过这条遥远的道路"/>
                <h3 class="ui-gallery-title">终会走过这条遥远的道路</h3>
                <div class="ui-gallery-desc">2375-09-26</div>
            </a>
        </div>
      </li>
  </ul><script src="//design.yonyoucloud.com/static/jquery/jquery-1.11.2.js"></script>
<script src="//design.yonyoucloud.com/static/uploader/js/webuploader.js"></script>
<script src="//design.yonyoucloud.com/static/knockout/knockout-3.2.0.debug.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u-polyfill.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u-tree.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u-grid.js"></script>
<script src="//design.yonyoucloud.com/static/requirejs/require.debug.js"></script>
<script>
</script>
</body>
</html>
