<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Title</title>
<link rel="stylesheet" href="//design.yonyoucloud.com/static/uploader/css/webuploader.css">
<link rel="stylesheet" href="//design.yonyoucloud.com/static/uui/latest/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="//design.yonyoucloud.com/static/uui/latest/css/u.css">
<link rel="stylesheet" type="text/css" href="//design.yonyoucloud.com/static/uui/latest/css/tree.css">
<link rel="stylesheet" type="text/css" href="//design.yonyoucloud.com/static/uui/latest/css/grid.css">
<style id="demo-style" media="screen">
.content{
    background: #eceff1;
    padding: 10px;
}
.panel-example{
    width: 60%;
    margin-left: 15%;
    margin-top: 40px;
}</style>
</head>
<body style="background-color: #eceff1;margin-left: 20px;width: calc(100% - 20px );">
<div class="panel-example">
      <!-- Example Heading With Desc -->
      <div class="u-panel">
        <div class="u-panel-heading">
          <h3 class="u-panel-title">Heading With Desc
            <small>Panel Description Here..</small>
          </h3>
        </div>
        <div class="u-panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit
            tortor, dictum in gravida nec, aliquet non lorem. pellentesque.ipiscing
            elit. Fusce velit tortor.</P>
        </div>
    </div>
      <!-- End Example Heading With Desc -->
</div><script src="//design.yonyoucloud.com/static/jquery/jquery-1.11.2.js"></script>
<script src="//design.yonyoucloud.com/static/uploader/js/webuploader.js"></script>
<script src="//design.yonyoucloud.com/static/knockout/knockout-3.2.0.debug.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u-polyfill.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u-tree.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u-grid.js"></script>
<script src="//design.yonyoucloud.com/static/requirejs/require.debug.js"></script>
<script>
</script>
</body>
</html>
