<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Title</title>
<link rel="stylesheet" href="//design.yonyoucloud.com/static/uploader/css/webuploader.css">
<link rel="stylesheet" href="//design.yonyoucloud.com/static/uui/latest/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="//design.yonyoucloud.com/static/uui/latest/css/u.css">
<link rel="stylesheet" type="text/css" href="//design.yonyoucloud.com/static/uui/latest/css/tree.css">
<link rel="stylesheet" type="text/css" href="//design.yonyoucloud.com/static/uui/latest/css/grid.css">
<style id="demo-style" media="screen">
</style>
</head>
<body style="background-color: #eceff1;margin-left: 20px;width: calc(100% - 20px );">
<div class="row">
  <div class="col-md-4">
        <div class="thumbnail">
                <img src="http://design.yonyoucloud.com/static/img/thumimg1.png" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                    <p>
                        <button class="u-button raised u-button-warning u-button-xg">button</button>
                        <button class="u-button raised primary u-button-xg">button</button>
                    </p>
                </div>
        </div>
  </div>
  <div class="col-md-4">
        <div class="thumbnail">
                <img src="http://design.yonyoucloud.com/static/img/thumimg1.png" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                    <p>
                        <button class="u-button raised u-button-danger u-button-xg">button</button>
                        <button class="u-button raised primary u-button-xg">button</button>
                    </p>
                </div>
        </div>
  </div>
  <div class="col-md-4">
        <div class="thumbnail">
                <img src="http://design.yonyoucloud.com/static/img/thumimg1.png" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                    <p>
                        <button class="u-button raised primary u-button-xg">button</button>
                        <button class="u-button raised u-button-info u-button-xg">button</button>
                </div>
        </div>
  </div>
</div><script src="//design.yonyoucloud.com/static/jquery/jquery-1.11.2.js"></script>
<script src="//design.yonyoucloud.com/static/uploader/js/webuploader.js"></script>
<script src="//design.yonyoucloud.com/static/knockout/knockout-3.2.0.debug.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u-polyfill.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u-tree.js"></script>
<script src="//design.yonyoucloud.com/static/uui/latest/js/u-grid.js"></script>
<script src="//design.yonyoucloud.com/static/requirejs/require.debug.js"></script>
<script>
</script>
</body>
</html>
