.u-list-group {
  // 不需要设置list-style: none;因为.list-group-item的display为block
  margin-bottom: 20px;
  padding-left: 0; // reset padding because ul and ol
  .media {
    padding: 2px 0;
    border-bottom: 0;
    .pull-left,
    .media-left {
      padding-right: 20px;
    }
    .pull-right,
    .media-right {
      padding-left: 20px;
    }
    .pull-right {
      .status {
        margin-top: 15px;
        margin-right: 5px;
      }
    }
    .media-heading {
      font-size: $list-group-media-heading-font-size;
    }
  }
}

.u-list-group-full {
  > .u-list-group-item {
    padding-left: 0;
    padding-right: 0;
  }
}

a.u-list-group-item {
  border-radius: $border-radius-base;
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    color: $list-group-link-disabled-color;
    background-color: $list-group-link-disabled-bg;
  }
  &.active,
  &.active:hover,
  &.active:focus {
    color: $list-group-link-active-color;
    background-color: $list-group-link-active-bg;
  }
}

.u-list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -1px;
  background-color: $list-group-bg;
  border: 1px solid $list-group-border;

  // Round the first and last items
  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }
  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);
  }
  .icon {
    margin-right: $list-group-item-icon-margin-right;
  }
}


// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive items.
// Includes an extra `.active` modifier class for showing selected items.

a.u-list-group-item,
button.u-list-group-item {
  color: $list-group-link-color;

  .u-list-group-item-heading {
    color: $list-group-link-heading-color;
  }

  // Hover state
  &:hover,
  &:focus {
    text-decoration: none;
    color: $list-group-link-hover-color;
    background-color: $list-group-hover-bg;
  }
}

button.u-list-group-item {
  width: 100%;
  text-align: left;
}

.u-list-group-item {
  // Disabled state
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $list-group-disabled-bg;
    color: $list-group-disabled-color;
    cursor: $cursor-disabled;

    // Force color to inherit for custom content
    .u-list-group-item-heading {
      color: inherit;
    }
    .u-list-group-item-text {
      color: $list-group-disabled-text-color;
    }
  }

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border;

    // Force color to inherit for custom content
    .u-list-group-item-heading,
    .u-list-group-item-heading > small,
    .u-list-group-item-heading > .small {
      color: inherit;
    }
    .u-list-group-item-text {
      color: $list-group-active-text-color;
    }
  }
}