@import "./mixins/variables";
@import "./mixins/mixins";
.u-navmenu {
  display: flex;
  display: block \9;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  padding-top: 16px;
  padding-left: 0;

  & ul {
    padding-left: 0;
  }

  & .u-navmenu-sub {
    transition: max-height .5s cubic-bezier(0.35,0,0.25,1);
    webkit-transition: max-height .5s cubic-bezier(0.35,0,0.25,1);
    max-height: 0;
    overflow: hidden;
    & .u-navmenu-link {
      padding-left: 69px;
    }

		& .u-navmenu-sub {
			& .u-navmenu-link {
			  padding-left: 96px;
			}
		}
  }

  & .u-navmenu-link {
    display: block;
    flex-shrink: 0;
    padding: 16px $layout-header-desktop-indent;
    margin: 0;
    color: $layout-drawer-navigation-color;

    text-decoration: none;
    font-weight: 500;
    font-size: $layout-nav-link-font-size;

    @media screen and (max-width: $layout-screen-size-threshold) {
      padding: 16px $layout-header-mobile-indent;
    }

    &:hover {
      background-color: $layout-nav-color;
    }

    &-current {
        background-color: $layout-drawer-navigation-link-active-background;
        color: $layout-drawer-navigation-link-active-color;
        font-weight: bold;  
    }

    & .uf-caretdown {
      webkit-transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      vertical-align: middle;
    }

    &-open {
      & .uf-caretdown {
        transform: rotate(180deg);
      }
      & + .u-navmenu-sub {
        max-height: 999px;
      }
    }

  }
}

.u-navmenu-horizontal {
  & li:hover .u-navmenu-sub {
     max-height: 999px;
  }

  & > ul > li{
    display: inline-block;
    position: relative;
  }

  & .u-navmenu-sub {
    position: absolute;
    top: 54px;
    left: 0;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
  }

  & .u-navmenu-sub .u-navmenu-link {
    padding-left: 40px; 
  }

  &.u-navmenu-horizontal .u-navmenu-link-open + .u-navmenu-sub{
    max-height: 0;
  }

} 
