

.slidePanel {
  position: fixed;
  z-index: 1310;
  max-width: 100%;
  max-height: 100%;
  visibility: hidden;
  background: #fff;
  -webkit-box-shadow: -10px 0 20px 0 rgba(66, 66, 66, .2);
  box-shadow: -10px 0 20px 0 rgba(66, 66, 66, .2);
  transition:all 300ms;
}

.slidePanel-show {
  visibility: visible;
}

.slidePanel-right {
  right: 0;
}

.slidePanel-right, .slidePanel-left {
  top: 0;
  bottom: 0;
  width: 700px;
}

.site-sidebar-content {
  height: 100%;
}