
/* 清除浮动 */

.ks-clear:after,
.clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.ks-clear,
.clear {
    overflow:hidden;
    *zoom: 1;
}

.main {
    padding: 30px 100px;
}

.main h1 {
    font-size: 36px;
    color: #333;
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.helps {
    margin-top: 40px;
}

.helps pre {
    padding: 20px;
    margin: 10px 0;
    border: solid 1px #e7e1cd;
    background-color: #fffdef;
    overflow: auto;
}

.icon_lists li {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    list-style: none;
}

.icon_lists .icon {
    font-size: 32px;
    line-height: 60px;
    margin: 10px 0;
    color: #616161;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}
.icon_lists li .name{
    display:none;
}

.icon_lists li .fontclass{
    font-size:12px!important;
	color:#616161;
}

.icon_lists .icon:hover {
    font-size: 50px;
}
