@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.nav-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .nav-list > li > a {
    position: relative;
    display: block;
    padding: 10px 15px; }

.u-collapse {
  display: none; }

.u-collapse.in {
  display: block; }

.u-navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 22px;
  border: 1px solid transparent; }
  @media (min-width: 768px) {
    .u-navbar {
      border-radius: 3px; } }
  .u-navbar * {
    box-sizing: border-box; }
  .u-navbar a {
    text-decoration: none; }
  .u-navbar ul {
    margin-top: 0px; }
  .u-navbar .dropdown-button {
    height: auto;
    cursor: pointer; }

@media (min-width: 768px) {
  .u-navbar-header {
    float: left; } }

.u-navbar-search .u-input-group {
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px; }

.u-navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch; }
  .u-navbar-collapse.in {
    overflow-y: auto; }
  @media (min-width: 768px) {
    .u-navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none; }
      .u-navbar-collapse.u-collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important; }
      .u-navbar-collapse.in {
        overflow-y: visible; } }

.u-container > .u-navbar-header,
.u-container > .u-navbar-collapse,
.u-container-fluid > .u-navbar-header,
.u-container-fluid > .u-navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }
  @media (min-width: 768px) {
    .u-container > .u-navbar-header,
    .u-container > .u-navbar-collapse,
    .u-container-fluid > .u-navbar-header,
    .u-container-fluid > .u-navbar-collapse {
      margin-right: 0;
      margin-left: 0; } }

.u-navbar-brand {
  float: left;
  padding: 14px 15px;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  width: auto; }
  .u-navbar-brand:hover, .u-navbar-brand:focus {
    text-decoration: none;
    background: inherit; }
  .u-navbar-brand > img {
    display: block; }
  @media (min-width: 768px) {
    .u-navbar > .u-container .u-navbar-brand,
    .u-navbar > .u-container-fluid .u-navbar-brand {
      margin-left: -15px; } }

.u-navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px; }
  .u-navbar-toggle:focus {
    outline: 0; }
  @media (min-width: 768px) {
    .u-navbar-toggle {
      display: none; } }

.u-navbar-nav {
  margin: -8px; }
  .u-navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px; }
  @media (max-width: 767px) {
    .u-navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none; }
      .u-navbar-nav .open .dropdown-menu > li > a,
      .u-navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px; }
      .u-navbar-nav .open .dropdown-menu > li > a {
        line-height: 22px; }
        .u-navbar-nav .open .dropdown-menu > li > a:hover, .u-navbar-nav .open .dropdown-menu > li > a:focus {
          background-image: none; } }
  @media (min-width: 768px) {
    .u-navbar-nav {
      float: left;
      margin: 0; }
      .u-navbar-nav > li {
        float: left; }
        .u-navbar-nav > li > a {
          padding-top: 14px;
          padding-bottom: 14px; } }

.u-navbar-collapse-toolbar.in {
  overflow-y: visible; }

.u-navbar-toolbar {
  float: left; }
  .u-navbar-toolbar:before, .u-navbar-toolbar:after {
    content: " ";
    display: table; }
  .u-navbar-toolbar:after {
    clear: both; }
  .u-navbar-toolbar > li {
    float: left; }
    .u-navbar-toolbar > li:before, .u-navbar-toolbar > li:after {
      content: " ";
      display: table; }
    .u-navbar-toolbar > li:after {
      clear: both; }
    .u-navbar-toolbar > li > .u-badge {
      padding: 0px;
      margin-top: 14px;
      margin-bottom: 14px; }
    .u-navbar-toolbar > li > .u-avatar {
      padding: 0px;
      margin-top: 9px; }
    .u-navbar-toolbar > li > a {
      padding-top: 14px;
      padding-bottom: 14px;
      line-height: 22px; }
  .u-navbar-toolbar .dropdown-menu {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }
  .u-navbar-toolbar .open {
    position: static; }
    .u-navbar-toolbar .open .dropdown-menu {
      left: 0;
      right: 0;
      width: auto;
      margin-top: 0;
      float: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0; }

@media (max-width: 767px) {
  .u-navbar-toolbar-left {
    float: left !important; }
  .u-navbar-toolbar-right {
    float: right !important; } }

@media (min-width: 768px) {
  .u-navbar-left {
    float: left !important; }
  .u-navbar-right {
    float: right !important;
    margin-right: -15px; }
    .u-navbar-right ~ .u-navbar-right {
      margin-right: 0; } }

.u-navbar-default {
  background-color: rgb(255,255,255);
  border-color: rgb(224,224,224); }
  .u-navbar-default .u-navbar-toolbar > li > a {
    color: rgb(117,117,117); }
    .u-navbar-default .u-navbar-toolbar > li > a:hover, .u-navbar-default .u-navbar-toolbar > li > a:focus {
      color: rgb(97,97,97);
      background-color: #eeeeee; }
  .u-navbar-default > .active > a, .u-navbar-default > .active > a:hover, .u-navbar-default > .active > a:focus {
    color: rgb(97,97,97);
    background-color: #eeeeee; }
  .u-navbar-default .u-navbar-brand {
    color: rgb(66,66,66); }
    .u-navbar-default .u-navbar-brand:hover, .u-navbar-default .u-navbar-brand:focus {
      color: rgb(66,66,66);
      background-color: none; }
  .u-navbar-default .u-navbar-text {
    color: rgb(117,117,117); }
  .u-navbar-default .u-navbar-nav > li > a {
    color: rgb(117,117,117); }
    .u-navbar-default .u-navbar-nav > li > a:hover, .u-navbar-default .u-navbar-nav > li > a:focus {
      color: rgb(97,97,97);
      background-color: #eeeeee; }
  .u-navbar-default .u-navbar-nav > .active > a, .u-navbar-default .u-navbar-nav > .active > a:hover, .u-navbar-default .u-navbar-nav > .active > a:focus {
    color: rgb(97,97,97);
    background-color: #eeeeee; }
  .u-navbar-default .u-navbar-nav > .disabled > a, .u-navbar-default .u-navbar-nav > .disabled > a:hover, .u-navbar-default .u-navbar-nav > .disabled > a:focus {
    color: rgb(189,189,189);
    background-color: transparent; }
  .u-navbar-default .u-navbar-toggle {
    border-color: transparent; }
    .u-navbar-default .u-navbar-toggle:hover, .u-navbar-default .u-navbar-toggle:focus {
      background-color: #eeeeee; }
    .u-navbar-default .u-navbar-toggle .icon-bar {
      background-color: rgb(117,117,117); }
  .u-navbar-default .u-navbar-collapse,
  .u-navbar-default .u-navbar-form {
    border-color: rgb(224,224,224); }
  .u-navbar-default .u-navbar-nav > .open > a, .u-navbar-default .u-navbar-nav > .open > a:hover, .u-navbar-default .u-navbar-nav > .open > a:focus {
    background-color: #eeeeee;
    color: rgb(97,97,97); }
  @media (max-width: 767px) {
    .u-navbar-default .u-navbar-nav .open .dropdown-menu > li > a {
      color: rgb(117,117,117); }
      .u-navbar-default .u-navbar-nav .open .dropdown-menu > li > a:hover, .u-navbar-default .u-navbar-nav .open .dropdown-menu > li > a:focus {
        color: rgb(97,97,97);
        background-color: #eeeeee; }
    .u-navbar-default .u-navbar-nav .open .dropdown-menu > .active > a, .u-navbar-default .u-navbar-nav .open .dropdown-menu > .active > a:hover, .u-navbar-default .u-navbar-nav .open .dropdown-menu > .active > a:focus {
      color: rgb(97,97,97);
      background-color: #eeeeee; }
    .u-navbar-default .u-navbar-nav .open .dropdown-menu > .disabled > a, .u-navbar-default .u-navbar-nav .open .dropdown-menu > .disabled > a:hover, .u-navbar-default .u-navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: rgb(189,189,189);
      background-color: transparent; } }
  .u-navbar-default .u-navbar-link {
    color: rgb(117,117,117); }
    .u-navbar-default .u-navbar-link:hover {
      color: rgb(97,97,97); }

.u-navbar-inverse {
  background-color: rgb(63,81,181);
  border-color: rgba(0, 0, 0, 0.1); }
  .u-navbar-inverse .u-navbar-toolbar > li > a {
    color: rgb(255,255,255); }
    .u-navbar-inverse .u-navbar-toolbar > li > a:hover, .u-navbar-inverse .u-navbar-toolbar > li > a:focus {
      color: rgb(255,255,255);
      background-color: rgba(0, 0, 0, 0.1); }
  .u-navbar-inverse .u-navbar-brand {
    color: rgb(255,255,255); }
    .u-navbar-inverse .u-navbar-brand:hover, .u-navbar-inverse .u-navbar-brand:focus {
      color: rgb(255,255,255);
      background-color: none; }
  .u-navbar-inverse .u-navbar-text {
    color: rgb(255,255,255); }
  .u-navbar-inverse .u-navbar-nav > li > a {
    color: rgb(255,255,255); }
    .u-navbar-inverse .u-navbar-nav > li > a:hover, .u-navbar-inverse .u-navbar-nav > li > a:focus {
      color: rgb(255,255,255);
      background-color: rgba(0, 0, 0, 0.1); }
  .u-navbar-inverse .u-navbar-nav > .active > a, .u-navbar-inverse .u-navbar-nav > .active > a:hover, .u-navbar-inverse .u-navbar-nav > .active > a:focus {
    color: rgb(255,255,255);
    background-color: rgba(0, 0, 0, 0.1); }
  .u-navbar-inverse .u-navbar-nav > .disabled > a, .u-navbar-inverse .u-navbar-nav > .disabled > a:hover, .u-navbar-inverse .u-navbar-nav > .disabled > a:focus {
    color: rgb(255,255,255);
    background-color: transparent; }
  .u-navbar-inverse .u-navbar-toggle {
    border-color: transparent; }
    .u-navbar-inverse .u-navbar-toggle:hover, .u-navbar-inverse .u-navbar-toggle:focus {
      background-color: rgba(0, 0, 0, 0.1); }
    .u-navbar-inverse .u-navbar-toggle .icon-bar {
      background-color: rgb(255,255,255); }
  .u-navbar-inverse .u-navbar-collapse,
  .u-navbar-inverse .u-navbar-form {
    border-color: #36459b; }
  .u-navbar-inverse .u-navbar-nav > .open > a, .u-navbar-inverse .u-navbar-nav > .open > a:hover, .u-navbar-inverse .u-navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255,255,255); }
  @media (max-width: 767px) {
    .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > .dropdown-header {
      border-color: rgba(0, 0, 0, 0.1); }
    .u-navbar-inverse .u-navbar-nav .open .dropdown-menu .divider {
      background-color: rgba(0, 0, 0, 0.1); }
    .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > li > a {
      color: rgb(255,255,255); }
      .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > li > a:hover, .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > li > a:focus {
        color: rgb(255,255,255);
        background-color: rgba(0, 0, 0, 0.1); }
    .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > .active > a, .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > .active > a:hover, .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > .active > a:focus {
      color: rgb(255,255,255);
      background-color: rgba(0, 0, 0, 0.1); }
    .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > .disabled > a, .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > .disabled > a:hover, .u-navbar-inverse .u-navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: rgb(255,255,255);
      background-color: transparent; } }
  .u-navbar-inverse .u-navbar-link {
    color: rgb(255,255,255); }
    .u-navbar-inverse .u-navbar-link:hover {
      color: rgb(255,255,255); }

.u-hamburger {
  vertical-align: middle;
  font-size: 17px; }
  .u-hamburger, .u-hamburger:before,
  .u-hamburger .u-hamburger-bar, .u-hamburger:after {
    -webkit-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out; }
  .u-hamburger:before, .u-hamburger:after {
    content: ""; }
  .u-hamburger:before,
  .u-hamburger .u-hamburger-bar, .u-hamburger:after {
    display: block;
    width: 1em;
    height: 0.1em;
    margin: 0;
    border-radius: 1px;
    background: rgb(117,117,117); }
    .u-navbar-default .u-hamburger:before, .u-navbar-default
    .u-hamburger .u-hamburger-bar, .u-navbar-default .u-hamburger:after {
      background: rgb(117,117,117); }
    .u-navbar-inverse .u-hamburger:before, .u-navbar-inverse
    .u-hamburger .u-hamburger-bar, .u-navbar-inverse .u-hamburger:after {
      background: rgb(255,255,255); }
  .u-hamburger .u-hamburger-bar {
    margin: 0.2em 0; }

.u-hamburger-close:before {
  transform: rotate(45deg);
  transform-origin: 8%; }

.u-hamburger-close .u-hamburger-bar {
  opacity: 0; }

.u-hamburger-close:after {
  transform: rotate(-45deg);
  transform-origin: 8%; }

.u-hamburger-close.hided:before, .u-hamburger-close.u-collapsed:before {
  transform: rotate(0); }

.u-hamburger-close.hided .u-hamburger-bar, .u-hamburger-close.u-collapsed .u-hamburger-bar {
  opacity: 1; }

.u-hamburger-close.hided:after, .u-hamburger-close.u-collapsed:after {
  transform: rotate(0); }

.u-hamburger-arrow-left.u-collapsed {
  transform: rotate(180deg); }
