@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.u-list-group {
  margin-bottom: 20px;
  padding-left: 0; }
  .u-list-group .media {
    padding: 2px 0;
    border-bottom: 0; }
    .u-list-group .media .pull-left,
    .u-list-group .media .media-left {
      padding-right: 20px; }
    .u-list-group .media .pull-right,
    .u-list-group .media .media-right {
      padding-left: 20px; }
    .u-list-group .media .pull-right .status {
      margin-top: 15px;
      margin-right: 5px; }
    .u-list-group .media .media-heading {
      font-size: 14px;
      margin: 0px;
      margin-bottom: 5px; }

.u-list-group-full > .u-list-group-item {
  padding-left: 0;
  padding-right: 0; }

a.u-list-group-item {
  border-radius: 3px; }
  a.u-list-group-item.disabled, a.u-list-group-item.disabled:hover, a.u-list-group-item.disabled:focus {
    color: rgb(189,189,189);
    background-color: rgb(238,238,238); }
  a.u-list-group-item.active, a.u-list-group-item.active:hover, a.u-list-group-item.active:focus {
    color: rgb(255,255,255);
    background-color: rgb(63,81,181); }

.u-list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid transparent; }
  .u-list-group-item:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
  .u-list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }
  .u-list-group-item .icon {
    margin-right: 10px; }

a.u-list-group-item,
button.u-list-group-item {
  color: rgb(117,117,117); }
  a.u-list-group-item .u-list-group-item-heading,
  button.u-list-group-item .u-list-group-item-heading {
    color: rgb(66,66,66); }
  a.u-list-group-item:hover, a.u-list-group-item:focus,
  button.u-list-group-item:hover,
  button.u-list-group-item:focus {
    text-decoration: none;
    color: rgb(117,117,117);
    background-color: rgb(238,238,238); }

button.u-list-group-item {
  width: 100%;
  text-align: left; }

.u-list-group-item.disabled, .u-list-group-item.disabled:hover, .u-list-group-item.disabled:focus {
  background-color: transparent;
  color: rgb(189,189,189);
  cursor: not-allowed; }
  .u-list-group-item.disabled .u-list-group-item-heading, .u-list-group-item.disabled:hover .u-list-group-item-heading, .u-list-group-item.disabled:focus .u-list-group-item-heading {
    color: inherit;
    margin: 0px;
    margin-bottom: 5px; }
  .u-list-group-item.disabled .u-list-group-item-text, .u-list-group-item.disabled:hover .u-list-group-item-text, .u-list-group-item.disabled:focus .u-list-group-item-text {
    color: rgb(189,189,189);
    margin: 0px; }

.u-list-group-item.active, .u-list-group-item.active:hover, .u-list-group-item.active:focus {
  z-index: 2;
  color: rgb(63,81,181);
  background-color: transparent;
  border-color: transparent; }
  .u-list-group-item.active .u-list-group-item-heading,
  .u-list-group-item.active .u-list-group-item-heading > small,
  .u-list-group-item.active .u-list-group-item-heading > .small, .u-list-group-item.active:hover .u-list-group-item-heading,
  .u-list-group-item.active:hover .u-list-group-item-heading > small,
  .u-list-group-item.active:hover .u-list-group-item-heading > .small, .u-list-group-item.active:focus .u-list-group-item-heading,
  .u-list-group-item.active:focus .u-list-group-item-heading > small,
  .u-list-group-item.active:focus .u-list-group-item-heading > .small {
    color: inherit; }
  .u-list-group-item.active .u-list-group-item-text, .u-list-group-item.active:hover .u-list-group-item-text, .u-list-group-item.active:focus .u-list-group-item-text {
    color: rgb(63,81,181); }

/*边框*/
.u-list-group-bordered {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); }
  .u-list-group-bordered .u-list-group-item {
    border-color: #e0e0e0; }
    .u-list-group-bordered .u-list-group-item.active {
      color: #fff;
      background-color: #303f9f;
      border-color: #303f9f; }
      .u-list-group-bordered .u-list-group-item.active:focus, .u-list-group-bordered .u-list-group-item.active:hover {
        color: #fff;
        background-color: #303f9f;
        border-color: #303f9f; }

/*分割线*/
.u-list-group-divider .u-list-group-item {
  border-top-color: #e0e0e0; }
  .u-list-group-divider .u-list-group-item:first-child.active:hover {
    border-top-color: transparent; }
  .u-list-group-divider .u-list-group-item:last-child {
    border-bottom-color: #e0e0e0; }
  .u-list-group-divider .u-list-group-item.active:hover {
    border-top-color: #e0e0e0; }
  .u-list-group-divider .u-list-group-item:first-child {
    border-top-color: transparent; }

/*徽章*/
.u-list-group-item > .u-badge {
  float: right;
  margin-top: 13px; }

/*链接*/
a.u-list-group-item {
  border-radius: 3px;
  cursor: pointer; }
  a.u-list-group-item.active {
    color: #fff;
    background-color: #3f51b5;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); }
    a.u-list-group-item.active:focus, a.u-list-group-item.active:hover {
      color: #fff;
      background-color: #3f51b5;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); }
  a.u-list-group-item.disabled {
    color: #bdbdbd;
    background-color: #eee; }
    a.u-list-group-item.disabled:focus, a.u-list-group-item.disabled:hover {
      color: #bdbdbd;
      background-color: #eee; }

/*不同颜色*/
.u-list-group-gap .u-list-group-item {
  margin-bottom: 2px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); }

.u-list-group-item-success {
  color: #fff;
  background-color: #4caf50; }

.u-list-group-item-warning {
  color: #fff;
  background-color: #ff9800; }

.u-list-group-item-info {
  color: #fff;
  background-color: #00bcd4; }

.u-list-group-item-danger {
  color: #fff;
  background-color: #f44336; }

.u-list-group-item-dark {
  color: #fff;
  background-color: #616161; }

/*自定义*/
.u-list-group-item.active .u-list-group-item-text, .u-list-group-item.active:focus .u-list-group-item-text, .u-list-group-item.active:hover .u-list-group-item-text {
  color: #d1d6ef; }

/*用户列表*/
.u-list-group .media {
  padding: 2px 0;
  border-bottom: 0; }

.media {
  overflow: hidden;
  zoom: 1; }
  .media:first-child {
    margin-top: 0; }

.media-body {
  overflow: hidden;
  zoom: 1; }

.media {
  margin-top: 15px; }

.u-list-group .media .media-right, .u-list-group .media .pull-right {
  padding-left: 20px; }

.media-left, .media > .pull-left {
  padding-right: 10px; }

.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  vertical-align: bottom;
  border-radius: 1000px; }
  .avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px; }

.media-body {
  overflow: hidden;
  overflow: auto;
  display: table-cell;
  vertical-align: top; }
  .media-body p {
    margin: 0 0 11px;
    font-size: 14px; }

.media-left, .media-right {
  display: table-cell;
  vertical-align: top; }

.media-body {
  width: 10000px; }

.media, .media-body {
  overflow: hidden;
  zoom: 1; }

small {
  font-size: 85%; }

.status-lg {
  width: 14px;
  height: 14px; }

.avatar-online i, .status-online {
  background-color: #4caf50; }

.avatar-busy i, .status-busy {
  background-color: #ff9800; }

.avatar-off i, .status-off {
  background-color: #616161; }

.avatar-away i, .status-away {
  background-color: #f44336; }

.status {
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%; }

.avatar-online i {
  background-color: #4caf50; }

.avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%; }
