@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.u-steps {
  margin-bottom: 22px; }
  .u-steps.row {
    display: block; }

.u-step {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center; }
  .u-step:before, .u-step:after {
    position: absolute;
    top: 18px;
    z-index: 0;
    width: 50%;
    height: 4px;
    content: "";
    background-color: rgb(238,238,238); }
  .u-step:before {
    left: 0; }
  .u-step:after {
    right: 0; }
  .u-step:first-child:before, .u-step:last-child:after {
    display: none !important; }

.u-step-number, .u-step-icon {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: rgb(255,255,255);
  text-align: center;
  background: rgb(189,189,189);
  border-radius: 50%;
  border: 2px solid rgb(189,189,189); }

.u-step-number {
  font-size: 18px; }

.u-step-icon {
  font-size: 18px; }

.u-step-title {
  margin-top: 0.5em;
  display: block;
  font-size: 16px;
  color: rgb(97,97,97);
  margin-bottom: 0; }

.u-step.current:before, .u-step.current:after {
  background-color: rgb(63,81,181); }

.u-step.current .u-step-number, .u-step.current .u-ste-icon {
  color: rgb(63,81,181);
  background-color: rgb(255,255,255);
  border-color: rgb(63,81,181);
  transform: scale(1.3); }

.u-step.disabled {
  pointer-events: none;
  cursor: auto; }
  .u-step.disabled:before, .u-step.disabled:after {
    background-color: rgb(238,238,238); }
  .u-step.disabled .u-step-pearl-number, .u-step.disabled .u-step-pearl-icon {
    color: rgb(255,255,255);
    background-color: rgb(189,189,189);
    border-color: rgb(189,189,189); }

.u-step.error:before {
  background-color: rgb(63,81,181); }

.u-step.error:after {
  background-color: rgb(238,238,238); }

.u-step.error .u-step-pearl-number, .u-step.error .u-step-pearl-icon {
  color: rgb(244,67,54);
  background-color: rgb(255,255,255);
  border-color: rgb(244,67,54); }

.u-step.done:before, .u-step.done:after {
  background-color: rgb(63,81,181); }

.u-step.done .u-step-pearl-number, .u-step.done .u-step-pearl-icon {
  color: rgb(255,255,255);
  background-color: rgb(63,81,181);
  border-color: rgb(63,81,181); }

.u-steps-lg .u-step-pearl:before, .u-steps-lg .u-step-pearl:after {
  top: 20px; }

.u-steps-lg .u-step-pearl-title {
  font-size: 18px; }

.u-steps-lg .u-step-pearl-number, .u-steps-lg .u-step-pearl-icon {
  width: 40px;
  height: 40px;
  line-height: 36px; }

.u-steps-lg .u-step-pearl-icon {
  font-size: 20px; }

.u-steps-lg .u-step-pearl-number {
  font-size: 20px; }

.u-steps-sm .u-step-pearl:before, .u-steps-sm .u-step-pearl:after {
  top: 16px; }

.u-steps-sm .u-step-pearl-title {
  font-size: 14px; }

.u-steps-sm .u-step-pearl-number, .u-steps-sm .u-step-pearl-icon {
  width: 32px;
  height: 32px;
  line-height: 28px; }

.u-steps-sm .u-step-pearl-number {
  font-size: 16px; }

.u-steps-sm .u-step-pearl-icon {
  font-size: 14px; }

.u-steps-xs .u-step-pearl:before, .u-steps-xs .u-step-pearl:after {
  top: 12px;
  height: 2px; }

.u-steps-xs .u-step-pearl-title {
  font-size: 12px; }

.u-steps-xs .u-step-pearl-number, .u-steps-xs .u-step-pearl-icon {
  width: 24px;
  height: 24px;
  line-height: 20px; }

.u-steps-xs .u-step-pearl-number {
  font-size: 12px; }

.u-steps-xs .u-step-pearl-icon {
  font-size: 12px; }

.u-steps {
  margin-bottom: 22px; }
  .u-steps.row {
    display: block;
    margin-right: 0;
    margin-left: 0; }

/*.u-step {
  position: relative;
  padding: 12px 20px;
  margin: 0;
  font-size: inherit;
  color: #a3afb7;
  vertical-align: top;
  background-color: #f3f7f9;
  border-radius: 0;
}*/
.u-step {
  position: relative;
  margin: 0; }

.u-step {
  padding: 12px 20px;
  font-size: inherit;
  color: #a3afb7;
  vertical-align: top;
  background-color: #f3f7f9;
  border-radius: 0; }

.u-step-icon {
  float: left;
  margin-right: .5em;
  font-size: 20px; }

.u-step-number {
  color: #fff;
  text-align: center;
  border-radius: 50%; }

.u-step-number {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  background: #e4eaec;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  .u-step-number ~ .u-step-desc {
    min-height: 40px;
    margin-left: 50px; }

.u-step-title {
  margin-bottom: 0;
  font-size: 20px;
  color: #526069; }

.u-step-desc {
  text-align: left; }
  .u-step-desc p {
    margin-bottom: 0; }

.u-steps-vertical .u-step {
  display: block;
  padding: 18px 20px; }
  .u-steps-vertical .u-step[class*=col-] {
    float: none;
    width: 100%; }

.u-step.current {
  color: #fff;
  background-color: #3f51b5; }
  .u-step.current .u-step-title {
    color: #fff; }
  .u-step.current .u-step-number {
    color: #3f51b5;
    background-color: #fff; }

.u-step.disabled {
  color: #ccd5db;
  pointer-events: none;
  cursor: auto; }
  .u-step.disabled .u-step-title {
    color: #ccd5db; }
  .u-step.disabled .u-step-number {
    background-color: #ccd5db; }

.u-step.error {
  color: #fff;
  background-color: #f96868; }
  .u-step.error .u-step-title {
    color: #fff; }
  .u-step.error .u-step-number {
    color: #f96868;
    background-color: #fff; }

.u-step.done {
  color: #fff;
  background-color: #46be8a; }
  .u-step.done .u-step-title {
    color: #fff; }
  .u-step.done .u-step-number {
    color: #46be8a;
    background-color: #fff; }

.u-steps-lg .u-step {
  padding: 20px 20px;
  font-size: 16px; }

.u-steps-lg .u-step-icon, .u-steps-lg .u-step-title {
  font-size: 22px; }

.u-steps-lg .u-step-number {
  width: 46px;
  height: 46px;
  font-size: 28px;
  line-height: 46px; }
  .u-steps-lg .u-step-number ~ .u-step-normal-desc {
    min-height: 46px;
    margin-left: 56px; }

.u-steps-sm .u-step {
  font-size: 12px; }

.u-steps-sm .u-step-icon, .u-steps-sm .u-step-title {
  font-size: 18px; }

.u-steps-sm .u-step-number {
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 30px; }
  .u-steps-sm .u-step-number ~ .u-step-normal-desc {
    min-height: 30px;
    margin-left: 40px; }

.u-steps-xs .u-step {
  font-size: 10px; }

.u-steps-xs .u-step-icon, .u-steps-xs .u-step-normal-title {
  font-size: 16px; }

.u-steps-xs .u-step-number {
  width: 24px;
  height: 24px;
  font-size: 20px;
  line-height: 24px; }
  .u-steps-xs .u-step-number ~ .u-step-desc {
    min-height: 24px;
    margin-left: 34px; }
