@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.u-pagination {
  font-size: 14px;
  margin: 5px; }
  .u-pagination:after {
    clear: both;
    display: table;
    content: ''; }

.u-pagination > li {
  float: left;
  list-style-type: none; }

.u-pagination > li > a,
.u-pagination > li > span {
  display: inline-block;
  text-decoration: none;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  color: #000000;
  background-color: white;
  text-align: center;
  color: #666666;
  padding: 6px 11px;
  line-height: 1.57142857; }

.u-pagination > li:first-child > a,
.u-pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.u-pagination > li:last-child > a,
.u-pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.u-pagination > li[role="next"] > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #d7d7d7; }

.pagination-state {
  float: left;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  color: #666666;
  margin-left: 10px; }

.pagination-state > .page_j {
  margin: 0 4px;
  width: 40px;
  border: 1px solid #ddd;
  padding-left: 2px;
  height: 35px;
  line-height: 35px;
  color: #333333; }

.pagination-state > .page_z {
  margin: 0 4px;
  width: 50px;
  border: 1px solid #ddd;
  padding-left: 2px;
  height: 35px;
  line-height: 35px;
  color: #333333; }

.pagination-state > .pagination-jump {
  margin: 0 10px;
  width: 50px;
  line-height: 30px;
  border: 1px solid #ddd;
  background-color: white;
  font-size: 14px;
  font-family: '微软雅黑';
  cursor: pointer;
  color: #333333;
  height: 35px; }

.pagination-state > .pagination-jump:hover {
  background-color: #eee; }

.u-pagination > li > a:hover,
.u-pagination > li > span:hover,
.u-pagination > li > a:focus,
.u-pagination > li > span:focus {
  color: #666666;
  background-color: #eee;
  border-color: #d7d7d7;
  cursor: pointer; }

.u-pagination > .active > a,
.u-pagination > .active > span,
.u-pagination > .active > a:hover,
.u-pagination > .active > span:hover,
.u-pagination > .active > a:focus,
.u-pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: rgb(63,81,181);
  border-color: rgb(63,81,181); }

.u-pagination > .disabled > span,
.u-pagination > .disabled > span:hover,
.u-pagination > .disabled > span:focus,
.u-pagination > .disabled > a,
.u-pagination > .disabled > a:hover,
.u-pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd; }

.u-pagination > li[role="gap"] > a {
  background-color: transparent;
  border-bottom: 0px solid #d7d7d7;
  border-top: 0px solid #d7d7d7;
  padding: 7px 11px;
  line-height: 1.57142857; }

.u-pagination > li[role="gap"] > a:hover,
.u-pagination > li[role="gap"] > a:focus {
  background-color: transparent; }

.u-pagination > li > a > i {
  color: #999999; }

.u-pagination > .disabled > a > i {
  color: #cccccc; }

.u-pagination input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.u-pagination li, .u-pagination a {
  box-sizing: content-box; }

.u-pagination i.uf, .u-pagination i.fa {
  padding: 0px;
  font-size: 12px; }

.u-pagination-no-border > li > a,
.u-pagination-no-border > li[role="next"] > a {
  border: none; }

.pagination-gap > li:first-child > a,
.pagination-gap > li:last-child > a {
  border-radius: 5px; }

.pagination-gap > li > a {
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #d7d7d7; }
  .pagination-gap > li > a:hover {
    background-color: transparent;
    border-color: rgb(63,81,181); }

.pagination-gap > li:first-child > a, .pagination-gap > li:last-child > a {
  border-radius: 5px; }

.pagination-gap > li[role="gap"] > a {
  border: 0px solid #d7d7d7; }

.pagination-lg > li > a {
  padding: 9px 15px;
  font-size: 16px;
  line-height: 1.33333; }

.pagination-lg > li:first-child > a {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.pagination-lg > li:last-child > a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }

.pagination-lg > li[role="gap"] > a {
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.33333; }

.pagination-sm > li > a {
  padding: 5px 9px;
  font-size: 14px;
  line-height: 1.5; }

.pagination-sm > li:first-child > a {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }

.pagination-sm > li:last-child > a {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px; }

.pagination-sm > li[role="gap"] > a {
  padding: 6px 9px;
  font-size: 14px;
  line-height: 1.5; }
