@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.u-menu-container {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  overflow: visible;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1; }
  .u-menu-container.is-visible, .u-menu-container.is-animating {
    z-index: 999;
    visibility: visible; }

.u-menu-outline {
  display: block;
  background: rgb(255,255,255);
  margin: 0;
  padding: 0;
  border: 1px solid rgb(224,224,224);
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: 0 0;
  border: 1px solid rgb(224,224,224) \9;
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1; }
  .u-menu-container.is-visible .u-menu-outline {
    opacity: 1;
    transform: scale(1);
    z-index: 999; }
  .u-menu-outline.u-menu-bottom-right {
    transform-origin: 100% 0; }
  .u-menu-outline.u-menu-top-left {
    transform-origin: 0 100%; }
  .u-menu-outline.u-menu-top-right {
    transform-origin: 100% 100%; }

.u-menu {
  position: absolute;
  list-style: none;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  min-width: 87px;
  padding: 8px 0;
  margin: 0;
  opacity: 0;
  clip: rect(0 0 0 0);
  z-index: -1; }
  .u-menu-container.is-visible .u-menu {
    opacity: 1;
    z-index: 999; }
  .u-menu.is-animating {
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), clip 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
  .u-menu.u-menu-bottom-right {
    left: auto;
    right: 0; }
  .u-menu.u-menu-top-left {
    top: auto;
    bottom: 0; }
  .u-menu.u-menu-top-right {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0; }
  .u-menu.u-menu-unaligned {
    top: auto;
    left: auto; }

.u-menu-item {
  display: block;
  border: none;
  color: rgba(0,0,0, 0.87);
  color: rgb(0,0,0) \9;
  background-color: transparent;
  text-align: left;
  margin: 0;
  padding: 0 15px;
  outline-color: rgb(107,202,234);
  position: relative;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
  text-decoration: none;
  cursor: pointer;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none; }
  .u-menu-container.is-visible .u-menu-item {
    opacity: 1; }
  .u-menu-item::-moz-focus-inner {
    border: 0; }
  .u-menu-item-full-bleed-divider {
    border-bottom: 1px solid rgba(0,0,0, 0.12); }
  .u-menu-item[disabled], .u-menu-item[data-u-disabled] {
    color: rgb(189,189,189);
    background-color: transparent;
    cursor: auto; }
    .u-menu-item[disabled]:hover, .u-menu-item[data-u-disabled]:hover {
      background-color: transparent; }
    .u-menu-item[disabled]:focus, .u-menu-item[data-u-disabled]:focus {
      background-color: transparent; }
    .u-menu-item[disabled] .mdl-ripple, .u-menu-item[data-u-disabled] .mdl-ripple {
      background: transparent; }
  .u-menu-item:hover {
    background-color: rgb(233,247,252); }
  .u-menu-item:focus {
    outline: none;
    background-color: rgb(196,234,246); }
  .u-menu-item:active {
    background-color: rgb(196,234,246); }
  .u-menu-item a {
    line-height: 1.57142857;
    color: rgb(51,51,51);
    white-space: nowrap;
    text-decoration: none;
    color: #333; }

.u-menu__item--ripple-container {
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  overflow: hidden; }

.u-right-icon {
  margin-left: 10px; }

.u-right-icon.uf-anglearrowdown {
  font-size: 12px; }

.u-split {
  height: 24px;
  border: 1px solid rgb(224,224,224);
  width: 107px; }
  .u-split .u-button {
    box-shadow: none;
    padding: 0px; }
  .u-split .u-split-pre {
    border-right: 1px dashed rgb(224,224,224);
    width: 80%;
    height: 100%; }
  .u-split .u-split-sub {
    width: 20%;
    height: 100%; }
    .u-split .u-split-sub button {
      width: 100%;
      height: 100%;
      min-width: 0px; }

.u-button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .u-button-group .u-button-group {
    float: left; }
  .u-button-group .u-button {
    float: left; }

.u-menu-wrap {
  position: relative; }

.u-menu-primary .u-menu-item:hover {
  background-color: rgb(92,107,192); }
  .u-menu-primary .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-primary .u-menu-item:focus {
  outline: none;
  background-color: rgb(63,81,181); }
  .u-menu-primary .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-success .u-menu-item:hover {
  background-color: rgb(102,187,106); }
  .u-menu-success .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-success .u-menu-item:focus {
  outline: none;
  background-color: rgb(76,175,80); }
  .u-menu-success .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-info .u-menu-item:hover {
  background-color: rgb(38,198,218); }
  .u-menu-info .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-info .u-menu-item:focus {
  outline: none;
  background-color: rgb(0,188,212); }
  .u-menu-info .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-warning .u-menu-item:hover {
  background-color: rgb(255,167,38); }
  .u-menu-warning .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-warning .u-menu-item:focus {
  outline: none;
  background-color: rgb(255,152,0); }
  .u-menu-warning .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-danger .u-menu-item:hover {
  background-color: rgb(239,83,80); }
  .u-menu-danger .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-danger .u-menu-item:focus {
  outline: none;
  background-color: rgb(244,67,54); }
  .u-menu-danger .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-dark .u-menu-item:hover {
  background-color: rgb(117,117,117); }
  .u-menu-dark .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-dark .u-menu-item:focus {
  outline: none;
  background-color: rgb(97,97,97); }
  .u-menu-dark .u-menu-item:focus a {
    color: #FFFFFF; }
