<div class="u-container-fluid example">
    <div class="u-row">
        <div class="u-col-xs-6 u-col-sm-3">
            <div class="example-col">.col-xs-6 .col-sm-3我的内容比较多。修改屏幕的宽度或者在手机端可以看到clearfix所起到的效果</div>
        </div>
        <div class="u-col-xs-6 u-col-sm-3">
            <div class="example-col">.col-xs-6 .col-sm-3</div>
        </div>
        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-xs-block"></div>
        <div class="u-col-xs-6 u-col-sm-3">
            <div class="example-col">.col-xs-6 .col-sm-3</div>
        </div>
        <div class="u-col-xs-6 u-col-sm-3">
            <div class="example-col">.col-xs-6 .col-sm-3</div>
        </div>
    </div>
</div>
