<div class="u-container-fluid example">
    <div class="u-row">
        <div class="u-col-sm-9">
            <div class="example-col">Level 1: .col-sm-9
                <div class="u-row">
                    <div class="u-col-xs-8 u-col-sm-6">
                        <div class="example-col-sub">Level 2: .col-xs-8 .col-sm-6</div>
                    </div>
                    <div class="u-col-xs-4 u-col-sm-6">
                        <div class="example-col-sub">Level 2: .col-xs-4 .col-sm-6</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>