.u-time-content{
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
}

.u-time-cell{
    display: inline-block;
    width: 33%;
    height: 100%;
}

.u-time-input{
    border: none;
    width: 20px;
    text-align: center;
}

